<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<test name="LocalAppium" enabled="true">
		<classes>
			<class name="com.perfecto.sampleproject.LocalAppium" />
		</classes>
	</test> <!-- Test -->
	<test name="DHSHomeTest" enabled="true">
		<classes>
			<class name="DHS.dhsHomeTest" />
		</classes>
	</test> <!-- Test -->
	<test name="DHSWebTest" enabled="false">
		<classes>
			<class name="DHS.DHSWebTest" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->